.social-login
    button.social--github
        a(href=routes.github)
            span    
                i.fab.fa-github
            |Continue with Github
        //- '|' makes everything after it a plain text

    button.social-login--facebook
        span    
            i.fab.fa-facebook
        |Continue with Facebook
        