doctype html
html
    head
        script(src="https://kit.fontawesome.com/54015cce3a.js", crossorigin="anonymous")
        title #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer